<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="PayBatchTool.log"/>
    <property name="LOG_DIR" value="../logs"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Fixed-width thread column and compact layout -->
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}  %-5level --- [%-13.13t] %-40.40logger{40} : %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="FILE_LOG_APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/%d{yyyy-MM-dd}/${LOG_FILE}.gz</fileNamePattern>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}  %-5level --- [%-13.13t] %-40.40logger{40} : %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE_LOG_APP"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>